:root{
    --color-red: #FF0000;
    --color-gray: #363636 ; 
    --color-white: #FFFFFF ;
}

/* pour utiliser la vaiable couleur CSS 
ex:   color: var(--color-red);    */


/*----------------------------------------------------------------*/
/*                    css page professionnel                      */
/*----------------------------------------------------------------*/

/* body */
body{
    margin:0;
}
/* onglets */
.nav_pro{
    color: var(--color-red);
    font-size: 25px;
    margin-left: 1%;
}
.details{
    margin:2%;
}

/* onglet profil */
.carte{
    border: 4px solid var(--color-red) ;
    border-radius : 5px;
    background-color:lightgrey;
    display: flex;
    width:85%;
    margin: auto;
}
.input {
    margin: 2%;
}

.input2{
    margin: 2%;
}

input[type=text]{
    margin:2%;
    border: 1px solid var(--color-red);
    border-radius:5px;
    width:80%;
}
#adresse1{
    width: 10%;
}
#adresse2{
    width: 65%;
}
#adresse3{
    width: 30%;
}

.modif_profil{
    height:50px;
    width:30%;
    background-color: var(--color-white);
    font-size: 20px;
    border: 3px solid var(--color-red);
    border-radius: 5px;
    color : var(--color-red);
    font-weight:bold;
    margin: auto;
}

.modif_profil:hover{
    color: var(--color-white);
    background-color: var(--color-red);
    border: 3px solid var(--color-white);
    transition-duration:1s;
}

label{
    color: var(--color-gray);
    font-size:15px;
}

/* onglets Mes filtres */

.cadre{
    border: 3px solid var(--color-red);
    border-radius: 5px;
    margin: 3%;
}

.input-group-text{
    margin: auto;
    background-color: lightgrey;
}

.cadre p{
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.valide{
    height:50px;
    width:100%;
    background-color: var(--color-white);
    font-size: 20px;
    border: 3px solid var(--color-red);
    border-radius: 5px;
    color : var(--color-red);
    font-weight:bold;
    margin: auto;
}

.valide:hover{
    color: var(--color-white);
    background-color: var(--color-red);
    border: 3px solid var(--color-white);
    transition-duration:1s;
}
